# Unity .gitignore
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/

C:\GProject>type .gitignore
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

![Aa]ssets/**/*.meta
![Pp]rojectSettings/**/*.meta

[Uu]nityPackage[Mm]anager/
[Pp]ackages/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

*.apk
*.aab
*.unitypackage
*.app
*.exe

.vscode/
.vs/

.DS_Store
Thumbs.db
